.header-wrapper {
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(49,70,102,.1);
}

.header {
    display: flex;
    margin: 0  12px 0 0 ;
    align-items: center;

    h1 {
        font-size: 18px;
        margin-bottom: 0;
        line-height: 1;
    }

    .left {
        flex: 1;
    }
    .main {
        flex: 1;
        text-align: center;
    }

    .right {
        flex: 1;
        text-align: right;
    }
}

.preview {
    display: flex;
    align-items: center;
    flex-direction: column;
    .preview-pattern {
        margin: 30px 0 40px 0;
    }
    .preview-content {
        width: 776px;
        min-height: 250px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 80px;
        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 107px;
            padding: 0 24px;
        }   
        .component {
            padding: 0 60px;
            margin-bottom: 33px;
        }
        .footer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 40px 0;
        }
    }
    .preview-content-mobile-wrapper {
        width: 400px;
        height: 679px;
        background-image: url('../assets/mobile-bg.png');
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
    }

    .preview-content-mobile {
        width: 336px;
        height: 619px;
        overflow: auto;
        margin-top: 60px;
        border: 2px rgba(128,133,144,.2) solid;

        .header-mobile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 107px;
            padding: 0 24px;
            align-items: center;
        }
        .component-mobile {
            padding: 0 18px;
            margin-bottom: 25px;
        }
        .footer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 40px 0;
        }
    }
    .preview-content-mobile::-webkit-scrollbar {
        width: 3px;
    }

    .preview-content-mobile::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.2);
        border-radius: 10px;
    }

    .preview-content-mobile::-webkit-scrollbar-track {
        background-color: #fff; /* 设置滚动条轨道背景颜色 */
        border-radius: 10px;
    }
}

