.header {
    height: 66px;
    display: flex;
    align-items: center;
    .left {
        flex: 1;
    }
    .right {
        /* flex: 1; */
       
        text-align: right;
        .filter {
            display: flex;
            .time {
                opacity: 1;
            }
            .search {
                opacity: 1;
            }
        }
        
    }
}

.content {
    height: 490px;
    overflow: auto;
}

.content::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}
.content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #53535320;
}

.list-content::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}
.list-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #53535320;
}

.list-content {
    height: 530px;
    overflow: auto;
}

.footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
