.container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .headImg {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

