.report {
    margin: 20px 40px 20px 40px;
}
.report-query {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
}
.report-main {
    width:100%;
    padding: 24px 16px 4px 16px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 14px;
    .report-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
}

.rotate-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.answer-info {
    display: flex;
    flex-wrap: wrap;
    p {
        flex-basis: calc(100% / 3); /* 平均分配每项宽度，使其占据三分之一空间 */
        margin-bottom: 10px; 
      }
}