.component-props {
    height: calc(100vh - 120px);
     overflow: auto
}

.component-props::-webkit-scrollbar {
    width: 5px;
}

// 定义滑块 
.component-props::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  
.component-props::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 设置滚动条轨道背景颜色 */
    border-radius: 10px;
  }